@page
@model TecGurusWeb.Pages.Product.CreateModel
@{
}


<div class="row">
    <div class="col-md-10">
        <h2>New Product</h2>
    </div>
    
    <div class="col-md-2">
        <a asp-page="./Index" class="btn btn-info">Return</a>
    </div>
</div>
<hr />
<br />
<div class="row">

    <div class="col-md-12">
        <form method="post">
            @*///En la vista del Update debe tener oculto el ProductId para que viaje en el submit y se sepa cual es el producto a modificar*@
            <div class="form-group row">
                <label asp-for="Product.ProductName" class="custom-control-label col-md-2"></label>

                <div class="col-md-10">
                    <input asp-for="Product.ProductName" class="form-control" />
                    <span asp-validation-for="Product.ProductName" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <label asp-for="Product.UnitPrice" class="custom-control-label col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="Product.UnitPrice" class="form-control" />
                    <span asp-validation-for="Product.UnitPrice" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <label asp-for="Product.QuantityPerUnit" class="custom-control-label col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="Product.QuantityPerUnit" class="form-control" />
                    <span asp-validation-for="Product.QuantityPerUnit" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <label asp-for="Product.CategoryId" class="custom-control-label col-md-2"></label>

                <div class="col-md-10">
                    <select asp-for="Product.CategoryId" class="form-control" asp-items="@(new SelectList(Model.Categories, "CategoryId", "CategoryName") )">
                        <option>---Seleccione----</option>
                    </select>
                </div>

                <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
            </div>

            <div class="col-md-12">

                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </form>


    </div>
</div>